.Main {
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    background-color: #fafafa;
    .feeds {
      display: flex;
      justify-content: space-around;
      min-width: 500px;
      min-height: 100%;
      margin-right: 100px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .article {
        background-color: white;
        .articleHeader {
          position: relative;
          display: flex;
          align-items: center;
          padding: 1rem 1rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          .ellipsis {
            position: absolute;
            font-size: 18px;
            right: 0;
            margin-right: 15px;
            color: rgba(0, 0, 0, 0.8);
          }
          .article_profile {
            margin-right: 10px;
            // background-image: url('../../assets/images/IMG_6500.JPG');
          }
        }
        .articleContentImg {
          width: 100%;
          min-width: 500px;
          height: 600px;
          background-image: url('https://img.khan.co.kr/news/2022/02/01/l_2022020101000012600000501.webp');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .articleReplyContainer {
          padding: 10px;
          .articleBtnContainer {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 25px;
            .articleBtn {
              margin-right: 15px;
            }
            :last-child {
              position: absolute;
              right: 0;
            }
          }
          .userReply {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding-bottom: 2px;
            width: 100%;
            .replyTextContainer {
              display: flex;
              align-items: center;
              .replyText {
                margin-left: 5px;
              }
            }
            .replyBtnContainer {
              display: flex;
              justify-content: flex-end;
              button {
                background: none;
              }
            }
          }
          .articleLike {
            display: flex;
            align-items: center;
            margin: 10px 0;
          }
          .likeCount {
            font-weight: bolder;
          }
        }
        .replyForm {
          position: relative;
          .replyInput {
            width: 100%;
            height: 50px;
            border: none;
            padding: 0.5rem;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
          }
          .replyBtn {
            position: absolute;
            font-size: 15px;
            top: 0;
            bottom: 0;
            right: 0;
            border: none;
            background: none;
            color: lightblue;
            cursor: pointer;
          }
        }
      }
    }
  }

  .userProfileImgCircle {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .userId {
    font-weight: bolder;
    display: inline;
  }

  .reple_heart {
    border: none;
    background: none;
  }
  .articleTime {
    font-size: 15px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
  }
  .reple_profile {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    // background-image: url('../../assets/images/face.png');
  }

  /* ////////////////////////////////////////////////////////////////// */

  .mainRight {
    width: 30%;
    min-width: 300px;
  }

  .rightItem1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .rightItem2 {
    height: 300px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
  }

  .user_story_container {
    height: 90%;
    overflow: auto;
  }
  .user_story_container::-webkit-scrollbar {
    display: none;
  }
  .right_item3 {
    height: 300px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .right_item_header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 15px;
  }
  .right_item_title {
    color: rgba(0, 0, 0, 0.5);
  }
  .right_item_all {
    font-weight: bold;
  }
  .article_profile_content {
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
  }
  .user_container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .user_img {
    width: 50px;
    height: 50px;
    background-image: url('https://velog.velcdn.com/images/inyong_pang/post/f0ea605d-c2d9-460c-aedc-a0ec77e6759f/wecode.png');
  }

  .follow_btn {
    position: absolute;
    right: 0;
    color: #52a3f2;
  }
  .onStory {
    border: 2px solid red;
  }
  .article_profile_follow {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
  }
  .reple_profile span {
    font-weight: bolder;
  }
  .gray {
    font-size: 15px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.3);
  }
  /* ///////////////////////////////////////////////////////////////// */

  footer {
    width: 100%;
    text-align: center;
    color: gray;
    span {
      .footerLink {
        color: gray;
      }
      &:visited {
        color: gray;
      }
    }
  }

  /* ///////////////////////////////////////////////////////////////// */

  @media screen and (max-width: 1368px) {
    .article_profile_follow {
      width: 200px;
    }
  }

  @media screen and (max-width: 1151px) {
    .article_profile_follow {
      width: 150px;
    }
  }

  @media screen and (max-width: 930px) {
    .article_profile_follow {
      width: 150px;
    }
  }

  @media screen and (max-width: 900px) {
    main {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    .main-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 1;
      width: 100%;
      margin: 0;
    }
    .feeds {
      order: 3;
      margin: 0;
    }
    .right_item1 {
      display: none;
    }
    .right_item2 {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .user_story_container {
      display: flex;
      overflow: auto;
      height: 100%;
      white-space: nowrap;
    }
    .user_container {
      margin: 0 20px;
    }
    .user_story_container::-webkit-scrollbar {
      display: none;
    }

    .user_story_container .user_container {
      display: flex;
      flex-direction: column;
    }
    .user_container > .article_profile {
      width: 50px;
      height: 50px;
      margin: 0;
      margin-bottom: 5px;
    }
    .user_story_container .article_profile_content {
      display: none;
    }
    .right_item3 {
      width: 100%;
      display: none;
    }
  }
}
