@import '../../../styles/variable.scss';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: $boder-light;
    padding: 3rem;
    min-height: 80vh;
  }

  .logo {
    font-family: 'Lobster', cursive;
    font-size: 100px;
    padding-bottom: 100px;
  }

  .loginInput {
    width: 80%;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 1rem;
    border: $boder-light;
    border-radius: 5px;
    background-color: $background-color;
  }

  .loginBtn {
    width: 150px;
    margin: 12px 0;
    padding: 1rem;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #0095f6;
    cursor: pointer;
  }

  .loginBtn:disabled {
    opacity: 0.3;
    cursor: default;
  }

  .pwdFind {
    text-decoration: none;
    color: #395d86;
  }
}
