@import '../../../styles/reset.scss';
@import '../../../styles/common.scss';
@import '../../../styles/variable.scss';

body {
  background-color: $backGroundColor;
}

p {
  font-family: 'Roboto';
  letter-spacing: 0.2px;
}

em {
  font-weight: 700;
}

.modal-bg {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.hidden {
  display: none;
}

/* header */
.header-wrap {
  background-color: $white;
  border-bottom: 1px solid #eaeaea;
  padding: 0 100px;
  margin-bottom: 50px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-wrap {
    display: flex;

    .insta-logo {
      width: 20px;
      height: 20px;
    }

    .logo-line {
      width: 1px;
      height: 25px;
      background-color: black;
      margin: 0 15px;
    }

    .logo-text {
      font-family: 'Lobster';
      font-size: 25px;
      margin-right: 15px;
    }
  }

  .search-wrap {
    position: relative;
    margin-right: 15px;

    & #search-icon {
      font-size: 12px;
      color: #adafb1;
      position: absolute;
      top: 7px;
      left: 65px;
    }

    .search-bar {
      width: 190px;
      height: 25px;
      border: 1px solid #eaeaea;
      border-radius: 2px;
      padding: 5px;
      background-color: #fafafa;
      outline: none;

      &::placeholder {
        text-align: center;
        color: #adafb1;
      }
    }
  }

  .icons {
    width: 130px;
    .icon-explore,
    .icon-heart,
    .icon-mypage {
      width: 23px;
      cursor: pointer;
    }

    .icon-heart {
      margin: 0 15px;
    }

    .icon-mypage {
      img {
        width: 23px;
      }
    }

    button {
      background-color: $white;
    }

    .modal-content {
      background-color: $white;
      width: 200px;
      position: absolute;
      z-index: 2;
      top: 40px;
      right: -10px;
      border-radius: 2.5px;
      box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.2);

      button {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 13px;

        &:nth-child(2) {
          i {
            margin-right: 8px;
          }
        }

        &:nth-child(4) {
          border-top: 1px solid #adafb1;
        }
      }

      i {
        margin-right: 5px;
      }
    }
  }
}

/* main */
.main {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;

  .feeds {
    width: 470px;
    height: auto;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin-right: 25px;

    .article-wrap {
      overflow: hidden;

      .user-bar {
        height: 60px;
        border-bottom: 1px solid #eaeaea;
        display: flex;
        align-items: center;
        padding-left: 15px;
        justify-content: space-between;
        padding: 15px;

        .user {
          display: flex;
          align-items: center;

          .user-image {
            width: 28px;
            height: 28px;
            background-color: #3c3c3c;
            background-size: cover;
            border-radius: 50%;
            margin-right: 10px;
          }

          .user-id {
            font-size: 14px;
            font-weight: 500;
          }
        }

        #dot {
          cursor: pointer;
        }
      }

      .article-img {
        height: 470px;
        min-width: 470px;
        background-image: url('../../../assets/Gaeul/cake_img.jpg');
        background-size: cover;
        background-position: 0 -160px;
        margin-bottom: 10px;
      }

      .article-icons {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;

        .article-three-icons {
          button {
            font-size: 20px;
            background-color: $white;

            &:hover {
              cursor: pointer;
              opacity: 0.5;
            }

            &:last-child {
              font-size: 18.5px;
            }
          }
        }

        .bookmark {
          font-size: 19px;
          background-color: $white;
          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }

      .like-user {
        height: auto;
        display: flex;
        align-items: center;
        padding: 10px;

        p {
          font-size: 13px;
          b {
            font-weight: 500;
          }
        }

        .like-user-img {
          width: 20px;
          height: 20px;
          border: 1px solid #eaeaea;
          border-radius: 50%;
          margin-right: 5px;
        }
      }

      .comments-ul {
        padding: 0 10px;
        font-size: 13px;

        .comment-li {
          margin: 5px 0;
          padding: 3px 0;
          display: flex;
          justify-content: space-between;

          .comment-heart-btn {
            background-color: $white;
            color: #adafb1;
            padding: 0;
          }

          .delete-btn {
            background-color: $white;
            color: #adafb1;
            padding: 0;
            padding-left: 8px;
          }
        }
      }

      .lets-comment {
        border-top: 1px solid #eaeaea;
        height: 40px;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        .comment-input {
          width: 400px;
          height: 30px;
          border: none;

          &::placeholder {
            font-size: 13px;
            color: #adafb1;
          }
        }

        .comment-button {
          font-size: 13px;
          font-weight: 700;
          color: #0095f6;
          background-color: $white;
          opacity: 0.5;
        }
      }
    }
  }

  .main-right {
    width: 250px;
    height: 500px;

    .id-info-box {
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 5px;
      margin-bottom: 15px;

      .my-image {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: black;
        margin-right: 10px;
      }

      .my-info {
        p {
          font-size: 14px;
        }

        #my-id {
          font-weight: 500;
          margin-bottom: 3px;
        }

        #my-id-text {
          color: #adafb1;
        }
      }
    }

    .story {
      height: 200px;
      background-color: white;
      border: 1px solid #eaeaea;
      margin-bottom: 15px;
      padding: 0 15px;
      overflow: scroll;

      .story-bar {
        background-color: white;
        height: 35px;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;

        h5 {
          color: #adafb1;
        }

        button {
          font-size: 12px;
          color: #3c3c3c;
          font-weight: 700;
          background-color: $white;
        }
      }

      .story-user {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .user-image {
          width: 28px;
          height: 28px;
          background-color: #3c3c3c;
          background-size: cover;
          border-radius: 50%;
          margin-right: 10px;
        }

        .timeline {
          font-size: 12px;
          color: #c3c5c7;
          margin-top: 2px;
        }
      }
    }

    .recommend {
      height: 200px;
      background-color: white;
      border: 1px solid #eaeaea;
      margin-bottom: 15px;
      padding: 0 15px;
      overflow: scroll;

      .story-bar {
        background-color: white;
        height: 35px;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;

        h5 {
          color: #adafb1;
        }

        button {
          font-size: 12px;
          color: #3c3c3c;
          font-weight: 700;
          background-color: $white;
        }
      }

      .story-recommend-user {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;

        .user-image {
          width: 28px;
          height: 28px;
          background-color: #3c3c3c;
          background-size: cover;
          border-radius: 50%;
          margin-right: 10px;
        }

        .recommend-text {
          width: 130px;
          font-size: 12px;
          color: #c3c5c7;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .follow {
          margin-left: 2px;
          font-size: 13px;
          font-weight: 700;
          color: #0095f6;
          background-color: $white;
          cursor: pointer;
        }
      }
    }

    .site-info {
      width: 220px;

      p {
        color: #c3c5c7;
        font-size: 12px;
        margin-top: 15px;
        line-height: 15px;
      }
    }
  }
}

/* media query */
@media screen and (max-width: 750px) {
  .header-wrap {
    max-width: 750px;
  }

  .main {
    display: block;
  }

  .feeds {
    margin: 0 auto;
  }

  .id-info-box,
  .story,
  .recommend {
    display: none;
  }

  .main-right {
    width: 470px;
    display: block;
    margin: 0 auto;
  }

  .site-info {
    width: 470px;
    text-align: center;
  }
}
